<!doctype html>
<html>
<head>
	<%- include head %>
</head>
<body>
	<nav class="nav">
		<div class="nav-logo"><a href="">Nena Nerdetta</a></div>
	</nav>
	<div class="main">
		<h3>You are in, welcome!</h3>
			<div class="container">
				<div class="profile">
					<p> You signed in with <i><%= user.email %></i> </p>
				</div>
			</div>
	</div>

</body>
</html>