<title>Authentication with Passport</title>
<meta charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Flamenco|Josefin+Sans:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href='public/css/main.css' rel='stylesheet' type='text/css'>