<!doctype html>
<html>
<head>
	<%- include head %>
</head>
<body>
	<nav class="nav">
		<div class="nav-logo"><a href="">Nena Nerdetta</a></div>
	</nav>
	<div class="main">
		<h3>Welcome to my little authentication demo app!</h3>
			<h4>NOTE: Only Sign Up route is working for now</h4>
			<div class="container">
				<div class="login">
					<a href="/signup" class="btn btn-large btn-block btn-go">Sign Up</a>
					<a href="/login" class="btn btn-large btn-block btn-go" style="background-color: #ccc; cursor: default;">Log In</a>
				</div>
			</div>
	</div>

</body>
</html>